<body>
  <%# <nav id="mainNav">
    <div class="inner">
      <a class="menu" id="menu"><span>MENU</span></a>
        <div class="panel" style="display: none;">
          <ul id="topnav">
            <li class="current-menu-item"><a href="index.html"><strong>トップページ</strong><br><span>Top</span></a></li>
            <li><a href="sample.html"><strong>ごあいさつ</strong><br><span>Greeting</span></a>
              <ul class="sub-menu">
                <li><a href="sample.html">代表メッセージ</a></li>
                <li><a href="sample.html">社員の声</a></li>
              </ul>
            </li>
            <li><a href="sample.html"><strong>サービス概要</strong><br><span>Service</span></a></li>
            <li><a href="sample.html"><strong>弊社の取り組み</strong><br><span>Approach</span></a></li>
            <li><a href="sample.html"><strong>会社概要</strong><br><span>Company</span></a></li>
            <li><a href="sample.html"><strong>お問い合わせ</strong><br><span>Contact</span></a></li>
          </ul>
      </div>
    </div>
  </nav> %>

  <%# 画面上部の帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      人生を変える出会いを
    </h2>
    <p class='service-explain'>
      DancerによるDancerのためのオンラインサロン
    </p>
  </div>
  <%# //画面上部の帯部分  %>

  <%# サロン説明 %>
  <section id="post-221" class="explanation">
    <h3 class="heading">What's Dancers Joint ？</h3>
      <article class="post">
        <p>DancersJointは、若者ダンサーの未来構築や、ダンサー業界における課題を解決し、人と人とを繋げる会員制のコミュニケーションサロンです。<br>
        <br><br>
        ※クライアントが絡む公開前のEvent等もありますので、サロンの内容は秘密厳守とさせていただきます。<br>
        ルールをお守り頂けない場合は退会措置をとらせていただくことがございます。ご容赦ください。</p>
      </article>
  </section>
  <%# サロン説明 %>

  <%# コンテンツ部分 %>
    <div id="wrapper">
      <section class="gridWrapper">
        <article class="grid">
          <div class="box">
            <h3>music</h3>
            <p class="img"><%= image_tag "music.jpg" %></p>
            <p>musicの説明</p>
            <p class="readmore"><a href="#">readmore</a></p>
          </div>
        </article>  
        <article class="grid">
          <div class="box">
            <h3>movie</h3>
            <p class="img"><%= image_tag "movie.jpg" %></p>
            <p>movieの説明</p>
            <p class="readmore"><a href="#">readmore</a></p>
          </div>
        </article>  
        <article class="grid">
          <div class="box">
            <h3>comunnity</h3>
            <p class="img"><%= image_tag "community.jpg" %></p>
            <p>communityの説明</p>
            <p class="readmore"><a href="#">readmore</a></p>
          </div>
        </article>
        <article class="grid">
          <div class="box">
            <h3>business</h3>
            <p class="img"><%= image_tag "business.jpg" %></p>
            <p>businessの説明</p>
            <p class="readmore"><a href="#">readmore</a></p>
          </div>
        </article>
        <article class="grid">
          <div class="box">
            <h3>skills</h3>
            <p class="img"><%= image_tag "skills.jpg" %></p>
            <p>skillsの説明</p>
            <p class="readmore"><a href="#">readmore</a></p>
          </div>
        </article>
        <article class="grid">
          <div class="box">
            <h3>events</h3>
            <p class="img"><%= image_tag "event.jpg" %></p>
            <p>eventの説明</p>
            <p class="readmore"><a href="#">readmore</a></p>
          </div>
        </article>
      </section>
    </div>

    <div class="top-info">
      <p>入会方法</p>
      <ul class="info-list">
        <li>*こちらのオンラインサロンは事前入会制となります。</li>
        <li>*非公開グループへの参加までは入会申し込み日から10日程度いただいております。</li>
        <li>*決済については毎月1日にクレジットカード決済が発生します。(2020年1月以降の記事はすべて閲覧できます)</li>
      </ul>
    </div>


  </body>