<div class="topics">
    <h4>Topics</h4>
      <div class="topic-titles">
      <ul>
        <% @topics.each do |topic| %>
          <li><%= link_to topic.title, topic_path(topic.id), method: :get %> （ <%= topic.category.name %> ）</li>
        <% end %>
      </ul>
      </div>

  <h4>Create Topic</h4>
  <%= form_with model: @user, url: topics_path,class: 'topic-new', local: true do |f| %>
    <%= f.text_field :title %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
    <%= f.submit "Create"%>
  <% end %>
</div>