<h1><%= @topic.title %></h1>
<%# <% @posts.each_with_index do |post , idx| %>
  <%# <p>
    <%# <%= idx + 1 %><%#= post.name %> <%#= post.body %>
  <%# </p> %>
<%# <% end %>

<div class="posts">
  <% if @posts %>
    <% @posts.each do |post| %>
      <div class="post-content">
        <div class="post-date">
          投稿日時：<%= post.created_at %>
        </div>
        <div class="post-user">
          from：<%= link_to post.user.nickname, "/users/#{post.user_id}" %>
        </div>
        <div class="post-body">
          <%= post.body %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="new-post">
  <h2>New post</h2>
<%= form_with(model: [@topic, @post], local: true) do |f| %>
  <p>本文</p>
  <p><%= f.text_area :body %></p>
  <%= f.submit "SEND" %>
<% end %>